<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 상세</title>
</head>
<body>

<img th:src="@{${bird.imageUrl}}" alt="새 이미지" width="250">

<h1 th:text="${birdName}">새 이름</h1>

<p>성장 단계: <span th:text="${bird.stage}">알</span></p>
<p>친밀도: <span th:text="${bird.affection}">0</span></p>

<form th:action="@{/birds/{id}/feed(id=${bird.Id})}" method="post">
    <button type="submit">🍞 먹이주기</button>
</form>
<form th:action="@{/birds/{id}/pet(id=${bird.Id})}" method="post">
    <button type="submit">🤲 쓰다듬기</button>
</form>

<h3>💬 새와 대화하기 </h3>
<form th:action="@{/birds/{id}/chat(id=${bird.id})}" method="post">
    <input type="text" name="message" placeholder="새에게 말을 걸어보세요." required>
    <button type="submit">말 걸기</button>
</form>

<p th:if="${chatResponse}" th:text="${chatResponse}"></p>


<br>
<a href="/birds">← 목록으로</a>

</body>
</html>