<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내 새 목록</title>
</head>
<body>
    <h1>내 새 목록</h1>

    <div style="border: 1px solid #ccc; padding: 20px; width: 250px;">
        <h2 th:text="${bird.Name}">첫 번째알</h2>
        <p>성장 단계: <span th:text="${bird.Stage}">알</span></p>
        <p>친밀도: <span th:text="${bird.affection}">0</span></p>

        <a th:href="@{/birds/{id}(id=${bird.id})}">자세히 보기</a>
        </div>

        <br>
        <a href="/">홈으로</a>
</body>
</html>